.grid {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    height: 90vh;
    text-align:center;
}
header, footer {
    grid-column: 1 / 4;
    color: black;
}
header, aside, article, footer {
    /* background-color:bisque; */
    font-style: normal;
    font-size: 1em;
}

img {
    width: 230px;
}

footer {
    font-size: 1em;
}

footer p {
    color: black;
}

.card img {
    height: 200px;
    object-fit: cover;
  }